In [1]:
import pandas as pd
import re
import numpy

file_name = "M920131.csv"

# Read raw file
df = pd.read_csv(file_name)
print("Preview first 20 rows:")
print(df.head(20))

Preview first 20 rows:
                                           Unnamed: 0  Unnamed: 1  Unnamed: 2  \
0                             Theme: Economy & Prices         NaN         NaN
1   Subject: Labour, Employment, Wages and Product...         NaN         NaN
2             Topic: Wages and Income from Employment         NaN         NaN
3   Table Title: Median Gross Monthly Income From ...         NaN         NaN
4                                                 NaN         NaN         NaN
5                       Data last updated: 25/03/2024         NaN         NaN
6                        Source: MINISTRY OF MANPOWER         NaN         NaN
7                                                 NaN         NaN         NaN
8                                                 NaN         NaN         NaN
9                                         Data Series      2023.0      2022.0
10  Managers & Administrators (Including Working P...     11297.0     10586.0
11  Managers & Administrators (Including Working P...     10020.0      9800.0
12                               Professionals - Male      8620.0      8190.0
13                             Professionals - Female      7520.0      7220.0
14       Associate Professionals & Technicians - Male      4680.0      4563.0
15     Associate Professionals & Technicians - Female      4680.0      4437.0
16                    Clerical Support Workers - Male      3194.0      2984.0
17                  Clerical Support Workers - Female      3413.0      3296.0
18                     Service & Sales Workers - Male      3038.0      3042.0
19                   Service & Sales Workers - Female      2535.0      2409.0

    Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  \
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN         NaN         NaN
5          NaN         NaN         NaN         NaN         NaN         NaN
6          NaN         NaN         NaN         NaN         NaN         NaN
7          NaN         NaN         NaN         NaN         NaN         NaN
8          NaN         NaN         NaN         NaN         NaN         NaN
9       2021.0      2020.0      2019.0      2018.0      2017.0      2016.0
10      9975.0     10075.0     10190.0     10146.0      9556.0      9304.0
11      9251.0      9800.0      9421.0      9583.0      9020.0      9020.0
12      7371.0      7371.0      7805.0      7605.0      7605.0      7220.0
13      6542.0      6435.0      6580.0      6435.0      6338.0      6201.0
14      4212.0      4241.0      4563.0      4437.0      4374.0      4183.0
15      4095.0      4095.0      4307.0      4182.0      4095.0      4022.0
16      2905.0      2662.0      2779.0      2691.0      2662.0      2535.0
17      3066.0      2916.0      3060.0      2983.0      2936.0      2825.0
18      2925.0      2633.0      2849.0      2662.0      2535.0      2500.0
19      2340.0      2195.0      2340.0      2260.0      2125.0      2017.0

    Unnamed: 9  ...  Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  \
0          NaN  ...          NaN          NaN          NaN          NaN
1          NaN  ...          NaN          NaN          NaN          NaN
2          NaN  ...          NaN          NaN          NaN          NaN
3          NaN  ...          NaN          NaN          NaN          NaN
4          NaN  ...          NaN          NaN          NaN          NaN
5          NaN  ...          NaN          NaN          NaN          NaN
6          NaN  ...          NaN          NaN          NaN          NaN
7          NaN  ...          NaN          NaN          NaN          NaN
8          NaN  ...          NaN          NaN          NaN          NaN
9       2015.0  ...       2012.0       2011.0       2010.0       2009.0
10      9025.0  ...       7500.0       7000.0       6081.0       5934.0
11      8425.0  ...       6938.0       6485.0       5582.0       5353.0
12      7103.0  ...       6000.0       5835.0       5344.0       5344.0
13      6139.0  ...       5041.0       4879.0       4617.0       4509.0
14      4095.0  ...       3770.0       3500.0       3221.0       3221.0
15      3990.0  ...       3654.0       3503.0       3101.0       3263.0
16      2535.0  ...       2354.0       2252.0       2138.0       2110.0
17      2862.0  ...       2597.0       2470.0       2420.0       2357.0
18      2340.0  ...       2128.0       2002.0       1984.0       1832.0
19      1901.0  ...       1700.0       1625.0       1500.0       1472.0

    Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0           NaN          NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN          NaN
5           NaN          NaN          NaN          NaN          NaN
6           NaN          NaN          NaN          NaN          NaN
7           NaN          NaN          NaN          NaN          NaN
8           NaN          NaN          NaN          NaN          NaN
9        2008.0       2007.0       2004.0       2003.0       2002.0
10       6000.0       5400.0       4896.0       5000.0       5000.0
11       5769.0       5085.0       4896.0       4776.0       4640.0
12       5344.0       4896.0       4520.0       4640.0       4640.0
13       4351.0       3955.0       3673.0       3770.0       3770.0
14       3396.0       3060.0       3051.0       3132.0       3132.0
15       3263.0       2862.0       2816.0       2706.0       2842.0
16       2138.0       2034.0       1845.0       2030.0       2088.0
17       2353.0       2184.0       2034.0       2088.0       2088.0
18       1861.0       1713.0       1695.0       1740.0       1740.0
19       1381.0       1356.0       1243.0       1300.0       1276.0

    Unnamed: 21
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8       Dollars
9         2001
10         4930
11         4736
12         4640
13         3770
14         3141
15         2706
16         1972
17         2103
18         1740
19         1256

[20 rows x 22 columns]

In [2]:
# Drop the first 9 rows
df = df.drop(index=range(0, 9)).reset_index(drop=True)
print("\nPreview after dropping first 10 rows:")
print(df.head(10))

Preview after dropping first 10 rows:
                                          Unnamed: 0  Unnamed: 1  Unnamed: 2  \
0                                        Data Series      2023.0      2022.0
1  Managers & Administrators (Including Working P...     11297.0     10586.0
2  Managers & Administrators (Including Working P...     10020.0      9800.0
3                               Professionals - Male      8620.0      8190.0
4                             Professionals - Female      7520.0      7220.0
5       Associate Professionals & Technicians - Male      4680.0      4563.0
6     Associate Professionals & Technicians - Female      4680.0      4437.0
7                    Clerical Support Workers - Male      3194.0      2984.0
8                  Clerical Support Workers - Female      3413.0      3296.0
9                     Service & Sales Workers - Male      3038.0      3042.0

   Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  \
0      2021.0      2020.0      2019.0      2018.0      2017.0      2016.0
1      9975.0     10075.0     10190.0     10146.0      9556.0      9304.0
2      9251.0      9800.0      9421.0      9583.0      9020.0      9020.0
3      7371.0      7371.0      7805.0      7605.0      7605.0      7220.0
4      6542.0      6435.0      6580.0      6435.0      6338.0      6201.0
5      4212.0      4241.0      4563.0      4437.0      4374.0      4183.0
6      4095.0      4095.0      4307.0      4182.0      4095.0      4022.0
7      2905.0      2662.0      2779.0      2691.0      2662.0      2535.0
8      3066.0      2916.0      3060.0      2983.0      2936.0      2825.0
9      2925.0      2633.0      2849.0      2662.0      2535.0      2500.0

   Unnamed: 9  ...  Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  \
0      2015.0  ...       2012.0       2011.0       2010.0       2009.0
1      9025.0  ...       7500.0       7000.0       6081.0       5934.0
2      8425.0  ...       6938.0       6485.0       5582.0       5353.0
3      7103.0  ...       6000.0       5835.0       5344.0       5344.0
4      6139.0  ...       5041.0       4879.0       4617.0       4509.0
5      4095.0  ...       3770.0       3500.0       3221.0       3221.0
6      3990.0  ...       3654.0       3503.0       3101.0       3263.0
7      2535.0  ...       2354.0       2252.0       2138.0       2110.0
8      2862.0  ...       2597.0       2470.0       2420.0       2357.0
9      2340.0  ...       2128.0       2002.0       1984.0       1832.0

   Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0       2008.0       2007.0       2004.0       2003.0       2002.0
1       6000.0       5400.0       4896.0       5000.0       5000.0
2       5769.0       5085.0       4896.0       4776.0       4640.0
3       5344.0       4896.0       4520.0       4640.0       4640.0
4       4351.0       3955.0       3673.0       3770.0       3770.0
5       3396.0       3060.0       3051.0       3132.0       3132.0
6       3263.0       2862.0       2816.0       2706.0       2842.0
7       2138.0       2034.0       1845.0       2030.0       2088.0
8       2353.0       2184.0       2034.0       2088.0       2088.0
9       1861.0       1713.0       1695.0       1740.0       1740.0

   Unnamed: 21
0        2001
1         4930
2         4736
3         4640
4         3770
5         3141
6         2706
7         1972
8         2103
9         1740

[10 rows x 22 columns]

In [3]:
# Preview the last 50 rows to see the file structure
print("\nPreview last 50 rows:")
print(df.tail(50))

Preview last 50 rows:
                                           Unnamed: 0  Unnamed: 1  Unnamed: 2  \
0                                         Data Series      2023.0      2022.0
1   Managers & Administrators (Including Working P...     11297.0     10586.0
2   Managers & Administrators (Including Working P...     10020.0      9800.0
3                                Professionals - Male      8620.0      8190.0
4                              Professionals - Female      7520.0      7220.0
5        Associate Professionals & Technicians - Male      4680.0      4563.0
6      Associate Professionals & Technicians - Female      4680.0      4437.0
7                     Clerical Support Workers - Male      3194.0      2984.0
8                   Clerical Support Workers - Female      3413.0      3296.0
9                      Service & Sales Workers - Male      3038.0      3042.0
10                   Service & Sales Workers - Female      2535.0      2409.0
11          Craftsmen & Related Trades Workers - Male      3000.0      2890.0
12        Craftsmen & Related Trades Workers - Female      2319.0      2150.0
13      Plant & Machine Operators & Assemblers - Male      2500.0      2421.0
14    Plant & Machine Operators & Assemblers - Female      2106.0      2000.0
15       Cleaners, Labourers & Related Workers - Male      1872.0      1851.0
16     Cleaners, Labourers & Related Workers - Female      1832.0      1669.0
17                                                NaN         NaN         NaN
18                         Definitions and Footnotes:         NaN         NaN
19  1. Data are from Comprehensive Labour Force Su...         NaN         NaN
20                                                NaN         NaN         NaN
21                                        Occupation:         NaN         NaN
22  Occupation of a working person refers to the k...         NaN         NaN
23                                                NaN         NaN         NaN
24                                          Notation:         NaN         NaN
25               na   not available or not applicable         NaN         NaN
26                      nec  not elsewhere classified         NaN         NaN
27                       nes  not elsewhere specified         NaN         NaN
28         -     nil or negligible or not significant         NaN         NaN
29                                              Notes         NaN         NaN
30  Numbers may not add up to the totals due to ro...         NaN         NaN
31  Data are the latest available at the time of a...         NaN         NaN
32  Values are shown in Singapore dollars (unless ...         NaN         NaN
33                                                NaN         NaN         NaN
34               Generated by: SingStat Table Builder         NaN         NaN
35                         Date generated: 03/10/2025         NaN         NaN
36                      Contact: info@singstat.gov.sg         NaN         NaN

    Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  \
0       2021.0      2020.0      2019.0      2018.0      2017.0      2016.0
1       9975.0     10075.0     10190.0     10146.0      9556.0      9304.0
2       9251.0      9800.0      9421.0      9583.0      9020.0      9020.0
3       7371.0      7371.0      7805.0      7605.0      7605.0      7220.0
4       6542.0      6435.0      6580.0      6435.0      6338.0      6201.0
5       4212.0      4241.0      4563.0      4437.0      4374.0      4183.0
6       4095.0      4095.0      4307.0      4182.0      4095.0      4022.0
7       2905.0      2662.0      2779.0      2691.0      2662.0      2535.0
8       3066.0      2916.0      3060.0      2983.0      2936.0      2825.0
9       2925.0      2633.0      2849.0      2662.0      2535.0      2500.0
10      2340.0      2195.0      2340.0      2260.0      2125.0      2017.0
11      2925.0      2765.0      3168.0      2853.0      2788.0      2730.0
12      2202.0      2106.0      2362.0      2167.0      2167.0      2028.0
13      2155.0      2000.0      2340.0      2282.0      2017.0      2045.0
14      2112.0      1901.0      1840.0      1755.0      1609.0      1591.0
15      1718.0      1631.0      1638.0      1635.0      1505.0      1526.0
16      1635.0      1521.0      1521.0      1476.0      1404.0      1347.0
17         NaN         NaN         NaN         NaN         NaN         NaN
18         NaN         NaN         NaN         NaN         NaN         NaN
19         NaN         NaN         NaN         NaN         NaN         NaN
20         NaN         NaN         NaN         NaN         NaN         NaN
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN
25         NaN         NaN         NaN         NaN         NaN         NaN
26         NaN         NaN         NaN         NaN         NaN         NaN
27         NaN         NaN         NaN         NaN         NaN         NaN
28         NaN         NaN         NaN         NaN         NaN         NaN
29         NaN         NaN         NaN         NaN         NaN         NaN
30         NaN         NaN         NaN         NaN         NaN         NaN
31         NaN         NaN         NaN         NaN         NaN         NaN
32         NaN         NaN         NaN         NaN         NaN         NaN
33         NaN         NaN         NaN         NaN         NaN         NaN
34         NaN         NaN         NaN         NaN         NaN         NaN
35         NaN         NaN         NaN         NaN         NaN         NaN
36         NaN         NaN         NaN         NaN         NaN         NaN

    Unnamed: 9  ...  Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  \
0       2015.0  ...       2012.0       2011.0       2010.0       2009.0
1       9025.0  ...       7500.0       7000.0       6081.0       5934.0
2       8425.0  ...       6938.0       6485.0       5582.0       5353.0
3       7103.0  ...       6000.0       5835.0       5344.0       5344.0
4       6139.0  ...       5041.0       4879.0       4617.0       4509.0
5       4095.0  ...       3770.0       3500.0       3221.0       3221.0
6       3990.0  ...       3654.0       3503.0       3101.0       3263.0
7       2535.0  ...       2354.0       2252.0       2138.0       2110.0
8       2862.0  ...       2597.0       2470.0       2420.0       2357.0
9       2340.0  ...       2128.0       2002.0       1984.0       1832.0
10      1901.0  ...       1700.0       1625.0       1500.0       1472.0
11      2662.0  ...       2416.0       2342.0       2347.0       2239.0
12      1775.0  ...       1500.0       1431.0       1356.0       1400.0
13      2030.0  ...       1837.0       1800.0       1718.0       1658.0
14      1624.0  ...       1276.0       1246.0       1214.0       1145.0
15      1411.0  ...       1149.0       1200.0       1180.0       1117.0
16      1287.0  ...       1012.0        975.0        916.0        877.0
17         NaN  ...          NaN          NaN          NaN          NaN
18         NaN  ...          NaN          NaN          NaN          NaN
19         NaN  ...          NaN          NaN          NaN          NaN
20         NaN  ...          NaN          NaN          NaN          NaN
21         NaN  ...          NaN          NaN          NaN          NaN
22         NaN  ...          NaN          NaN          NaN          NaN
23         NaN  ...          NaN          NaN          NaN          NaN
24         NaN  ...          NaN          NaN          NaN          NaN
25         NaN  ...          NaN          NaN          NaN          NaN
26         NaN  ...          NaN          NaN          NaN          NaN
27         NaN  ...          NaN          NaN          NaN          NaN
28         NaN  ...          NaN          NaN          NaN          NaN
29         NaN  ...          NaN          NaN          NaN          NaN
30         NaN  ...          NaN          NaN          NaN          NaN
31         NaN  ...          NaN          NaN          NaN          NaN
32         NaN  ...          NaN          NaN          NaN          NaN
33         NaN  ...          NaN          NaN          NaN          NaN
34         NaN  ...          NaN          NaN          NaN          NaN
35         NaN  ...          NaN          NaN          NaN          NaN
36         NaN  ...          NaN          NaN          NaN          NaN

    Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0        2008.0       2007.0       2004.0       2003.0       2002.0
1        6000.0       5400.0       4896.0       5000.0       5000.0
2        5769.0       5085.0       4896.0       4776.0       4640.0
3        5344.0       4896.0       4520.0       4640.0       4640.0
4        4351.0       3955.0       3673.0       3770.0       3770.0
5        3396.0       3060.0       3051.0       3132.0       3132.0
6        3263.0       2862.0       2816.0       2706.0       2842.0
7        2138.0       2034.0       1845.0       2030.0       2088.0
8        2353.0       2184.0       2034.0       2088.0       2088.0
9        1861.0       1713.0       1695.0       1740.0       1740.0
10       1381.0       1356.0       1243.0       1300.0       1276.0
11       2025.0       2000.0       1836.0       1914.0       1885.0
12       1263.0       1271.0       1224.0       1209.0       1160.0
13       1613.0       1500.0       1526.0       1571.0       1624.0
14       1138.0       1102.0       1054.0       1114.0       1131.0
15       1088.0       1069.0       1130.0       1160.0       1160.0
16        877.0        872.0        904.0        928.0        906.0
17          NaN          NaN          NaN          NaN          NaN
18          NaN          NaN          NaN          NaN          NaN
19          NaN          NaN          NaN          NaN          NaN
20          NaN          NaN          NaN          NaN          NaN
21          NaN          NaN          NaN          NaN          NaN
22          NaN          NaN          NaN          NaN          NaN
23          NaN          NaN          NaN          NaN          NaN
24          NaN          NaN          NaN          NaN          NaN
25          NaN          NaN          NaN          NaN          NaN
26          NaN          NaN          NaN          NaN          NaN
27          NaN          NaN          NaN          NaN          NaN
28          NaN          NaN          NaN          NaN          NaN
29          NaN          NaN          NaN          NaN          NaN
30          NaN          NaN          NaN          NaN          NaN
31          NaN          NaN          NaN          NaN          NaN
32          NaN          NaN          NaN          NaN          NaN
33          NaN          NaN          NaN          NaN          NaN
34          NaN          NaN          NaN          NaN          NaN
35          NaN          NaN          NaN          NaN          NaN
36          NaN          NaN          NaN          NaN          NaN

    Unnamed: 21
0         2001
1          4930
2          4736
3          4640
4          3770
5          3141
6          2706
7          1972
8          2103
9          1740
10         1256
11         1958
12         1256
13         1734
14         1148
15         1160
16          928
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29          NaN
30          NaN
31          NaN
32          NaN
33          NaN
34          NaN
35          NaN
36          NaN

[37 rows x 22 columns]

In [4]:
df = df.iloc[:17].reset_index(drop=True)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Data Series,2023.0,2022.0,2021.0,2020.0,2019.0,2018.0,2017.0,2016.0,2015.0,...,2012.0,2011.0,2010.0,2009.0,2008.0,2007.0,2004.0,2003.0,2002.0,2001
1,Managers & Administrators (Including Working P...,11297.0,10586.0,9975.0,10075.0,10190.0,10146.0,9556.0,9304.0,9025.0,...,7500.0,7000.0,6081.0,5934.0,6000.0,5400.0,4896.0,5000.0,5000.0,4930
2,Managers & Administrators (Including Working P...,10020.0,9800.0,9251.0,9800.0,9421.0,9583.0,9020.0,9020.0,8425.0,...,6938.0,6485.0,5582.0,5353.0,5769.0,5085.0,4896.0,4776.0,4640.0,4736
3,Professionals - Male,8620.0,8190.0,7371.0,7371.0,7805.0,7605.0,7605.0,7220.0,7103.0,...,6000.0,5835.0,5344.0,5344.0,5344.0,4896.0,4520.0,4640.0,4640.0,4640
4,Professionals - Female,7520.0,7220.0,6542.0,6435.0,6580.0,6435.0,6338.0,6201.0,6139.0,...,5041.0,4879.0,4617.0,4509.0,4351.0,3955.0,3673.0,3770.0,3770.0,3770
5,Associate Professionals & Technicians - Male,4680.0,4563.0,4212.0,4241.0,4563.0,4437.0,4374.0,4183.0,4095.0,...,3770.0,3500.0,3221.0,3221.0,3396.0,3060.0,3051.0,3132.0,3132.0,3141
6,Associate Professionals & Technicians - Female,4680.0,4437.0,4095.0,4095.0,4307.0,4182.0,4095.0,4022.0,3990.0,...,3654.0,3503.0,3101.0,3263.0,3263.0,2862.0,2816.0,2706.0,2842.0,2706
7,Clerical Support Workers - Male,3194.0,2984.0,2905.0,2662.0,2779.0,2691.0,2662.0,2535.0,2535.0,...,2354.0,2252.0,2138.0,2110.0,2138.0,2034.0,1845.0,2030.0,2088.0,1972
8,Clerical Support Workers - Female,3413.0,3296.0,3066.0,2916.0,3060.0,2983.0,2936.0,2825.0,2862.0,...,2597.0,2470.0,2420.0,2357.0,2353.0,2184.0,2034.0,2088.0,2088.0,2103
9,Service & Sales Workers - Male,3038.0,3042.0,2925.0,2633.0,2849.0,2662.0,2535.0,2500.0,2340.0,...,2128.0,2002.0,1984.0,1832.0,1861.0,1713.0,1695.0,1740.0,1740.0,1740
10,Service & Sales Workers - Female,2535.0,2409.0,2340.0,2195.0,2340.0,2260.0,2125.0,2017.0,1901.0,...,1700.0,1625.0,1500.0,1472.0,1381.0,1356.0,1243.0,1300.0,1276.0,1256
11,Craftsmen & Related Trades Workers - Male,3000.0,2890.0,2925.0,2765.0,3168.0,2853.0,2788.0,2730.0,2662.0,...,2416.0,2342.0,2347.0,2239.0,2025.0,2000.0,1836.0,1914.0,1885.0,1958
12,Craftsmen & Related Trades Workers - Female,2319.0,2150.0,2202.0,2106.0,2362.0,2167.0,2167.0,2028.0,1775.0,...,1500.0,1431.0,1356.0,1400.0,1263.0,1271.0,1224.0,1209.0,1160.0,1256
13,Plant & Machine Operators & Assemblers - Male,2500.0,2421.0,2155.0,2000.0,2340.0,2282.0,2017.0,2045.0,2030.0,...,1837.0,1800.0,1718.0,1658.0,1613.0,1500.0,1526.0,1571.0,1624.0,1734
14,Plant & Machine Operators & Assemblers - Female,2106.0,2000.0,2112.0,1901.0,1840.0,1755.0,1609.0,1591.0,1624.0,...,1276.0,1246.0,1214.0,1145.0,1138.0,1102.0,1054.0,1114.0,1131.0,1148
15,"Cleaners, Labourers & Related Workers - Male",1872.0,1851.0,1718.0,1631.0,1638.0,1635.0,1505.0,1526.0,1411.0,...,1149.0,1200.0,1180.0,1117.0,1088.0,1069.0,1130.0,1160.0,1160.0,1160
16,"Cleaners, Labourers & Related Workers - Female",1832.0,1669.0,1635.0,1521.0,1521.0,1476.0,1404.0,1347.0,1287.0,...,1012.0,975.0,916.0,877.0,877.0,872.0,904.0,928.0,906.0,928

In [5]:
# Use the first row as header
df.columns = df.iloc[0]
df = df.drop(0).reset_index(drop=True)

print("\nData after setting header row:")
print(df)

Data after setting header row:
0                                         Data Series   2023.0   2022.0  \
0   Managers & Administrators (Including Working P...  11297.0  10586.0
1   Managers & Administrators (Including Working P...  10020.0   9800.0
2                                Professionals - Male   8620.0   8190.0
3                              Professionals - Female   7520.0   7220.0
4        Associate Professionals & Technicians - Male   4680.0   4563.0
5      Associate Professionals & Technicians - Female   4680.0   4437.0
6                     Clerical Support Workers - Male   3194.0   2984.0
7                   Clerical Support Workers - Female   3413.0   3296.0
8                      Service & Sales Workers - Male   3038.0   3042.0
9                    Service & Sales Workers - Female   2535.0   2409.0
10          Craftsmen & Related Trades Workers - Male   3000.0   2890.0
11        Craftsmen & Related Trades Workers - Female   2319.0   2150.0
12      Plant & Machine Operators & Assemblers - Male   2500.0   2421.0
13    Plant & Machine Operators & Assemblers - Female   2106.0   2000.0
14       Cleaners, Labourers & Related Workers - Male   1872.0   1851.0
15     Cleaners, Labourers & Related Workers - Female   1832.0   1669.0

0   2021.0   2020.0   2019.0   2018.0  2017.0  2016.0  2015.0  ...  2012.0  \
0   9975.0  10075.0  10190.0  10146.0  9556.0  9304.0  9025.0  ...  7500.0
1   9251.0   9800.0   9421.0   9583.0  9020.0  9020.0  8425.0  ...  6938.0
2   7371.0   7371.0   7805.0   7605.0  7605.0  7220.0  7103.0  ...  6000.0
3   6542.0   6435.0   6580.0   6435.0  6338.0  6201.0  6139.0  ...  5041.0
4   4212.0   4241.0   4563.0   4437.0  4374.0  4183.0  4095.0  ...  3770.0
5   4095.0   4095.0   4307.0   4182.0  4095.0  4022.0  3990.0  ...  3654.0
6   2905.0   2662.0   2779.0   2691.0  2662.0  2535.0  2535.0  ...  2354.0
7   3066.0   2916.0   3060.0   2983.0  2936.0  2825.0  2862.0  ...  2597.0
8   2925.0   2633.0   2849.0   2662.0  2535.0  2500.0  2340.0  ...  2128.0
9   2340.0   2195.0   2340.0   2260.0  2125.0  2017.0  1901.0  ...  1700.0
10  2925.0   2765.0   3168.0   2853.0  2788.0  2730.0  2662.0  ...  2416.0
11  2202.0   2106.0   2362.0   2167.0  2167.0  2028.0  1775.0  ...  1500.0
12  2155.0   2000.0   2340.0   2282.0  2017.0  2045.0  2030.0  ...  1837.0
13  2112.0   1901.0   1840.0   1755.0  1609.0  1591.0  1624.0  ...  1276.0
14  1718.0   1631.0   1638.0   1635.0  1505.0  1526.0  1411.0  ...  1149.0
15  1635.0   1521.0   1521.0   1476.0  1404.0  1347.0  1287.0  ...  1012.0

0   2011.0  2010.0  2009.0  2008.0  2007.0  2004.0  2003.0  2002.0  2001
0   7000.0  6081.0  5934.0  6000.0  5400.0  4896.0  5000.0  5000.0   4930
1   6485.0  5582.0  5353.0  5769.0  5085.0  4896.0  4776.0  4640.0   4736
2   5835.0  5344.0  5344.0  5344.0  4896.0  4520.0  4640.0  4640.0   4640
3   4879.0  4617.0  4509.0  4351.0  3955.0  3673.0  3770.0  3770.0   3770
4   3500.0  3221.0  3221.0  3396.0  3060.0  3051.0  3132.0  3132.0   3141
5   3503.0  3101.0  3263.0  3263.0  2862.0  2816.0  2706.0  2842.0   2706
6   2252.0  2138.0  2110.0  2138.0  2034.0  1845.0  2030.0  2088.0   1972
7   2470.0  2420.0  2357.0  2353.0  2184.0  2034.0  2088.0  2088.0   2103
8   2002.0  1984.0  1832.0  1861.0  1713.0  1695.0  1740.0  1740.0   1740
9   1625.0  1500.0  1472.0  1381.0  1356.0  1243.0  1300.0  1276.0   1256
10  2342.0  2347.0  2239.0  2025.0  2000.0  1836.0  1914.0  1885.0   1958
11  1431.0  1356.0  1400.0  1263.0  1271.0  1224.0  1209.0  1160.0   1256
12  1800.0  1718.0  1658.0  1613.0  1500.0  1526.0  1571.0  1624.0   1734
13  1246.0  1214.0  1145.0  1138.0  1102.0  1054.0  1114.0  1131.0   1148
14  1200.0  1180.0  1117.0  1088.0  1069.0  1130.0  1160.0  1160.0   1160
15   975.0   916.0   877.0   877.0   872.0   904.0   928.0   906.0    928

[16 rows x 22 columns]

In [6]:
# Preview column name
print(df.columns)

# Standardize the column name
clean_column = []
for c in df.columns:
    text = str(c).strip()
    match = re.search(r"(19|20)\d{2}", text)
    if match:
        clean_column.append(match.group(0))
    else:
        clean_column.append(text)

df.columns = clean_column
print(df.columns)

Index(['Data Series',        2023.0,        2022.0,        2021.0,
              2020.0,        2019.0,        2018.0,        2017.0,
              2016.0,        2015.0,        2014.0,        2013.0,
              2012.0,        2011.0,        2010.0,        2009.0,
              2008.0,        2007.0,        2004.0,        2003.0,
              2002.0,       '2001 '],
      dtype='object', name=0)
Index(['Data Series', '2023', '2022', '2021', '2020', '2019', '2018', '2017',
       '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008',
       '2007', '2004', '2003', '2002', '2001'],
      dtype='object')

In [7]:
# Split age group and occupation category
gender, occupation = [], []

for raw_val in df["Data Series"].fillna("").astype(str):
    s = raw_val.strip()
    if s == "":
      age_group.append(np.nan)
      occupation.append(np.nan)
      continue
    if 'Male' in s:
      occupation.append(s.split(" - ")[0])
      gender.append('Male')
    elif 'Female' in s:
      occupation.append(s.split(" - ")[0])
      gender.append('Female')
    else:
      continue

In [8]:
# Build cleaned dataset
clean_data = df.copy()
clean_data.insert(0, "occupation", occupation)
clean_data.insert(1, "gender", gender)

# Drop "Data Series" column
clean_data = clean_data.drop(columns=["Data Series"])
clean_data

,occupation,gender,2023,2022,2021,2020,2019,2018,2017,2016,...,2012,2011,2010,2009,2008,2007,2004,2003,2002,2001
0,Managers & Administrators (Including Working P...,Male,11297.0,10586.0,9975.0,10075.0,10190.0,10146.0,9556.0,9304.0,...,7500.0,7000.0,6081.0,5934.0,6000.0,5400.0,4896.0,5000.0,5000.0,4930
1,Managers & Administrators (Including Working P...,Female,10020.0,9800.0,9251.0,9800.0,9421.0,9583.0,9020.0,9020.0,...,6938.0,6485.0,5582.0,5353.0,5769.0,5085.0,4896.0,4776.0,4640.0,4736
2,Professionals,Male,8620.0,8190.0,7371.0,7371.0,7805.0,7605.0,7605.0,7220.0,...,6000.0,5835.0,5344.0,5344.0,5344.0,4896.0,4520.0,4640.0,4640.0,4640
3,Professionals,Female,7520.0,7220.0,6542.0,6435.0,6580.0,6435.0,6338.0,6201.0,...,5041.0,4879.0,4617.0,4509.0,4351.0,3955.0,3673.0,3770.0,3770.0,3770
4,Associate Professionals & Technicians,Male,4680.0,4563.0,4212.0,4241.0,4563.0,4437.0,4374.0,4183.0,...,3770.0,3500.0,3221.0,3221.0,3396.0,3060.0,3051.0,3132.0,3132.0,3141
5,Associate Professionals & Technicians,Female,4680.0,4437.0,4095.0,4095.0,4307.0,4182.0,4095.0,4022.0,...,3654.0,3503.0,3101.0,3263.0,3263.0,2862.0,2816.0,2706.0,2842.0,2706
6,Clerical Support Workers,Male,3194.0,2984.0,2905.0,2662.0,2779.0,2691.0,2662.0,2535.0,...,2354.0,2252.0,2138.0,2110.0,2138.0,2034.0,1845.0,2030.0,2088.0,1972
7,Clerical Support Workers,Female,3413.0,3296.0,3066.0,2916.0,3060.0,2983.0,2936.0,2825.0,...,2597.0,2470.0,2420.0,2357.0,2353.0,2184.0,2034.0,2088.0,2088.0,2103
8,Service & Sales Workers,Male,3038.0,3042.0,2925.0,2633.0,2849.0,2662.0,2535.0,2500.0,...,2128.0,2002.0,1984.0,1832.0,1861.0,1713.0,1695.0,1740.0,1740.0,1740
9,Service & Sales Workers,Female,2535.0,2409.0,2340.0,2195.0,2340.0,2260.0,2125.0,2017.0,...,1700.0,1625.0,1500.0,1472.0,1381.0,1356.0,1243.0,1300.0,1276.0,1256
10,Craftsmen & Related Trades Workers,Male,3000.0,2890.0,2925.0,2765.0,3168.0,2853.0,2788.0,2730.0,...,2416.0,2342.0,2347.0,2239.0,2025.0,2000.0,1836.0,1914.0,1885.0,1958
11,Craftsmen & Related Trades Workers,Female,2319.0,2150.0,2202.0,2106.0,2362.0,2167.0,2167.0,2028.0,...,1500.0,1431.0,1356.0,1400.0,1263.0,1271.0,1224.0,1209.0,1160.0,1256
12,Plant & Machine Operators & Assemblers,Male,2500.0,2421.0,2155.0,2000.0,2340.0,2282.0,2017.0,2045.0,...,1837.0,1800.0,1718.0,1658.0,1613.0,1500.0,1526.0,1571.0,1624.0,1734
13,Plant & Machine Operators & Assemblers,Female,2106.0,2000.0,2112.0,1901.0,1840.0,1755.0,1609.0,1591.0,...,1276.0,1246.0,1214.0,1145.0,1138.0,1102.0,1054.0,1114.0,1131.0,1148
14,"Cleaners, Labourers & Related Workers",Male,1872.0,1851.0,1718.0,1631.0,1638.0,1635.0,1505.0,1526.0,...,1149.0,1200.0,1180.0,1117.0,1088.0,1069.0,1130.0,1160.0,1160.0,1160
15,"Cleaners, Labourers & Related Workers",Female,1832.0,1669.0,1635.0,1521.0,1521.0,1476.0,1404.0,1347.0,...,1012.0,975.0,916.0,877.0,877.0,872.0,904.0,928.0,906.0,928

In [9]:
year_cols = clean_data.iloc[:, 2:].columns

clean_data = clean_data[clean_data["occupation"] != "Total (All Occupations)"]

# melt with those columns
df = clean_data.melt(
    id_vars=["gender", "occupation"],
    value_vars=year_cols,
    var_name="year",
    value_name="value"
)

df["year"] = df["year"].astype(int)
df["value"] = pd.to_numeric(df["value"], errors="coerce")

In [10]:
df

     gender                                         occupation  year    value
0      Male  Managers & Administrators (Including Working P...  2023  11297.0
1    Female  Managers & Administrators (Including Working P...  2023  10020.0
2      Male                                      Professionals  2023   8620.0
3    Female                                      Professionals  2023   7520.0
4      Male              Associate Professionals & Technicians  2023   4680.0
..      ...                                                ...   ...      ...
331  Female                 Craftsmen & Related Trades Workers  2001   1256.0
332    Male             Plant & Machine Operators & Assemblers  2001   1734.0
333  Female             Plant & Machine Operators & Assemblers  2001   1148.0
334    Male              Cleaners, Labourers & Related Workers  2001   1160.0
335  Female              Cleaners, Labourers & Related Workers  2001    928.0

[336 rows x 4 columns]